.ngdialog.ngdialog-theme-default {
  z-index: 198;
}

.reportContainer {
  padding: 30px;
}

.infoLink {
  text-decoration: underline !important;
  color:blue !important;
}
.mustViolation {
  border: 2px solid #FF6347;
  //border-radius: 5px;
  background-color:#FF6347;
  color:black;
}
.shouldViolation {
  border: 2px solid #FF7F50;
  //border-radius: 5px;
  background-color:#FF7F50;
  color:black;
}
.mayViolation {
  border: 2px solid #FFB6C1;
  //border-radius: 5px;
  background-color:#FFB6C1;
  color:black;
}
.couldViolation {
  border: 2px solid #FFF0F5;
  //border-radius: 5px;
  background-color:#FFF0F5;
  color:black;
}
.hintViolation {
  border: 2px solid #FFFAFA;
  //border-radius: 5px;
  background-color:#FFFAFA;
  color:black;
}

.infos {
  border: 2px solid #17a2b8;
  background-color:#17a2b8;
  color:black;

}

.errors {
  border: 2px solid #dc3545;
  background-color:#dc3545;
  color:black;
}

.warnings {
  border: 2px solid #ffc107;
  background-color:#ffc107;
  color:black;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width:60%;
}
