<div class="infoview" ng-show = "selectedApi.expanded">
  <div>
    <h4>{{selectedApi.name}}</h4>
    <h3 ng-show="selectedVersion">Version: {{selectedVersion.number}}</h3>
    <h3 ng-show="selectedFile">Revision: {{selectedFile.timestamp}}</h3>
    <h3 ng-show="selectedReport">Report: {{selectedReport.type}} Violations:{{selectedReport.violations.violations.length}}</h3>

    <div>
      <button type = "button" class="btn btn-primary btn-sm btn-block" ng-click="showViolationReport()" ng-if="selectedViolationReport">
        Show Violation Report
      </button>
      <button type = "button" class="btn btn-primary btn-sm btn-block" ng-click="showComparisonReport()" ng-if="selectedComparisonReport">
        Show Comparison Report
      </button>
    </div>

    <div class="swagger-ui-box">
      <button type = "button" class="btn btn-primary btn-sm btn-block" ng-click="toggleShowSwaggerUI()" ng-if="selectedFile">
        <div ng-if="!showSwaggerUI">
          Show Swagger-UI
        </div>
        <div ng-if="showSwaggerUI">
          Hide Swagger-UI
        </div>
      </button>
      </br>
      <div ng-if="showSwaggerUI">
       <div swagger-ui input="apifileurl" input-type="url" api-explorer="true"></div>
      </div>
    </div>
  </div>
</div>
