<!--Treeview-->
<ul class="treeview">
  <li>
    <h4>My APIs</h4>
    <ul>
      <div ng-repeat = "api in apis">
          <li>
            <div class = "row">
              <div class = "col">
                <a href="#" ng-click = "showAPI(api); select(api)">
                  <div ng-if="!api.edit">
                    <img src="./icons/api2.svg" alt="Responsive image">
                    {{api.name}} <img src="./icons/edit.svg" ng-click="api.edit=!api.edit" class="img-fluid">
                  </div>
                </a>
                  <div ng-if="api.edit">
                    <!--<div class = "col-lg-8 offset-1"><input type="text" class="form-control" ng-model= "api.name"></div>
                    <img src="./icons/save.svg" ng-click="saveNewAPIName(api)" class="img-fluid">-->
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <img src="./icons/api2.svg" alt="Responsive image">
                      </div>
                      <input type="text" class="form-control" ng-model= "api.name">
                      <div class="input-group-append">
                        <img src="./icons/save.svg" ng-click="saveNewAPIName(api)" class="img-fluid">
                      </div>
                    </div>
                  </div>

              </div>
            </div>
            <div class = "row" ng-if="!api.edit">
              <div class = "col">
                <div ngf-drop="uploadToExistingApi($files,api)" class="drop-box-small" ng-show="api.expanded"
                     ngf-drag-over-class="'dragover'" ngf-multiple="false"
                     ngf-pattern="'application/json'"ngf-accept="'application/json'">
                  <div style="vertical-align: middle;
    ">New Swagger file for {{api.name}}</div></div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
              </div>
            </div>
            <ul>
              <div ng-repeat = "version in api.versions" ng-if="!api.edit">
                <li ng-show = "api.expanded">
                  <label>
                    <!--<input type="checkbox" ng-checked="version.checked" ng-disabled="canCompare()">-->
                    <a ng-click = "showVersion(version); select(api,version)">
                      <img src="./icons/folder_closed.svg" class="img-fluid" alt="Responsive image">
                      {{version.number}}
                    </a>
                  </label>
                </li>
                <ul>
                  <div ng-repeat = "revision in version.revisions">
                    <li ng-show = "version.expanded">
                      <label>
                        <input type="checkbox" ng-checked="revision.checked" ng-disabled="selectedComparison.length >= 2 && !revision.checked"
                               ng-click="selectComparison(api, version, revision); apifileurl = revision.url">
                        <a ng-click = "showRevision(revision); select(api,version, revision,revision.violationreport,revision.comparisonreport)">
                           <img src="./icons/file2.svg" class="img-fluid" alt="Responsive image">
                            {{revision.timestamp}}
                        </a>
                        <a ng-click="validate(revision)">
                          <img src="/icons/validate.svg" class="img-validate" alt="validate api" />
                        </a>
                        <a ng-show="selectedComparison.length >= 2 && revision.checked" ng-click="showCompareDialog()">
                          <img src="/icons/compare.svg" class="img-validate" alt="validate api" />
                        </a>
                        <a target="_blank" href="{{apifileurl}}" download="swagger-api.pdf">
                          <img src="/icons/download.svg" class="img-validate" alt="validate api" />
                        </a>

                      </label>
                    </li>
                    <ul>
                      <div ng-show = "revision.violationreport">
                        <li ng-show = "revision.expanded">
                          <a ng-click = "select(api,version, revision, revision.violationreport, null)">
                              <img src="./icons/report.svg" class="img-fluid" alt="Responsive image">
                              <span ng-if="revision.violationreport.violations === 0">
                              <img src="./icons/validationtrue.svg"/>
                            </span>
                              <span ng-if="revision.violationreport.violations !=0">
                              <img src="./icons/validationfalse.svg"/>
                            </span>
                              Violation Report ({{revision.violationreport.violations.length}})
                          </a>
                        </li>
                      </div>

                      <div ng-repeat = "comparison in revision.comparisonreport">
                        <li ng-show = "revision.expanded">
                          <a ng-click = "select(api,version, revision, null, comparison)" data-toggle="tooltip" data-html="true"
                             title="{{comparedTo(comparison).api}} - {{comparedTo(comparison).version}} - {{comparedTo(comparison).revision}}">
                            <img src="./icons/report.svg" class="img-fluid" alt="Responsive image">
                            <!--<span ng-if="violation.violations === 0">
                              <img src="./icons/validationtrue.svg"/>
                            </span>
                            <span ng-if="violation.violations !=0">
                              <img src="./icons/validationfalse.svg"/>
                            </span>-->
                            Comparison Report - ({{comparison.paths.new.length}}, {{comparison.paths.removed.length}}, {{comparison.paths.changed.length}})
                            <br> &emsp; &emsp; <span class="text-muted">{{comparedTo(comparison).api}} - {{comparedTo(comparison).version}} - {{comparedTo(comparison).revision}}</span>


                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </ul>
              </div>
            </ul>
          </li>
      </div>
    </ul>
  </li>
</ul>
<!--Treeview-->