.fileupload {
  padding-bottom:20px;
}
.button {
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 100px;
}
.drop-box-small{
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  margin: 10px;
}

.drop-box-inline{
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  height: 100px;
  text-align: center;
  padding: 25px;
  margin: 10px;
}
.dragover {
  border: 5px dashed blue;
}