<div class = "row">
  <p>
    xxxx
  </p>
</div>
<div class = "row">
  <div class = "col-sm-5 border">
    <!--Treeview-->
    <ul class="treeview" id = "">
      <li>
        <a href="#">APIs</a>
        <ul>
          <div ng-repeat = "api in apiCtrl.data">
              <li>
                <img src="../img/api2.svg" class="img-fluid" alt="Responsive image">
                <a href="#" ng-click = "apiCtrl.selectApi(api)">{{api.name}}</a>
                <ul>
                  <div ng-repeat = "version in api.version">
                    <li ng-show = "apiCtrl.doShow(api, null)">
                      <img src="../img/folder_closed.svg" class="img-fluid" alt="Responsive image">
                      <a ng-click = "apiCtrl.selectVersion(api, version)" href="#">{{version.name}}</a>
                    </li>
                    <ul>
                      <div ng-repeat = "file in version.file">
                        <li ng-show = "apiCtrl.doShow(api, version)">
                          <img src="../img/file2.svg" class="img-fluid" alt="Responsive image">
                          <a href="#">{{file.name}}</a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </ul>
              </li>
          </div>
        </ul>
      </li>
    </ul>
    <!--Treeview-->
  </div>

</div>
