<h1>Compare API's</h1>
<h3 class="p-3 mb-2 bg-danger text-white">Compare the following two apis</h3>
</br>
<div>
    <div>
        <b>API:</b> {{ngDialogData[0].api.name}}</br>
        <b>Version:</b> {{ngDialogData[0].version.number}}</br>
        <b>Revision:</b> {{ngDialogData[0].revision.timestamp}}</br>
    </div>

    <div>
        </br>
        <button type="button" class="btn btn-info btn-sm btn-block" ng-click="switchComparison(ngDialogData)">
            Compare to<img src="/icons/switch.svg" class="img-validate" alt="validate api" />
        </button>
        </br>
    </div>

    <div>
        <b>API:</b> {{ngDialogData[1].api.name}}</br>
        <b>Version:</b> {{ngDialogData[1].version.number}}</br>
        <b>Revision:</b> {{ngDialogData[1].revision.timestamp}}</br>
    </div>

</div>
</br>
<button type="button" class="btn btn-primary btn-sm btn-block" ng-click="closeDialog(true)">
    Compare now
</button>