<h1>Validation Settings</h1>
<h3 class="p-3 mb-2 bg-danger text-white">Each rule which is selected, will be checked for your API</h3>
</br>
<h2>Rules</h2>
<ul class="ruleList">
    <div ng-repeat = "rule in ngDialogData">
        <label>
            <li>
                <input type="checkbox" ng-checked="rule.checked" ng-model="rule.checked">
                <b>{{rule.title}} - {{rule.type}}</b>(<a href="{{rule.url}}" target="_blank">more</a>)
            </li>
        </label>
    </div>
</ul>
</br>
<button type="button" class="btn btn-primary btn-sm btn-block" ng-click="closeDialog()">
    Evaluate now
</button>
