<!--Treeview-->
<ul class="treeview">
  <li>
    <a href="#"><h4>APIs</h4></a>
    <ul>
      <div ng-repeat = "api in apis">
          <li>
            <a href="#" ng-click = "showAPI(api); select(api)">
              <img src="./icons/api2.svg" class="img-fluid" alt="Responsive image">
              {{api.name}}
            </a>
            <ul>
              <div ng-repeat = "version in api.versions">
                <li ng-show = "api.expanded">
                  <a ng-click = "showVersion(version); select(api)">
                    <img src="./icons/folder_closed.svg" class="img-fluid" alt="Responsive image">
                    {{version.number}}
                  </a>
                </li>
                <ul>
                  <div ng-repeat = "revision in version.revisions">
                    <li ng-show = "version.expanded">
                      <a ng-click = "showRevision(revision); select(api, revision)">
                        <img src="./icons/file2.svg" class="img-fluid" alt="Responsive image">
                        {{revision.timestamp}}
                      </a>
                      <a ng-click="validate(revision)">
                        <img src="/icons/validate.svg" class="img-validate" alt="validate api" />
                      </a>
                    </li>
                    <ul>
                      <div ng-repeat = "report in revision.reports">
                        <li ng-show = "revision.expanded">
                          <a ng-click = "select(api, revision, report)">
                            <img src="./icons/report.svg" class="img-fluid" alt="Responsive image">
                            <span ng-if="report.violations === 0">
                              <img src="./icons/validationtrue.svg"/>
                            </span>
                            <span ng-if="report.violations !=0">
                              <img src="./icons/validationfalse.svg"/>
                            </span>
                            {{report.type}} ({{report.violations}})
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </ul>
              </div>
            </ul>
          </li>
      </div>
    </ul>
  </li>
</ul>
<!--Treeview-->