<div class = "row">
  <div class = "col border">
    <div class = "row">
      <h3>Dashboard</h3>
    </div>
    <div class = "row">
      <p>
        some menu elements
        -add api
        -add Version
        -add file
        -compare
      </p>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col border">
    <tree-template></tree-template>
  </div>
  <!--ng-show = "dabCtrl.selectedApi.length != 0 && dabCtrl.selectedApi.active" -->
  <info-template class = "col-sm-6"></info-template>
</div>
