<div ng-show = "dabCtrl.selectedApi.length != 0 && dabCtrl.selectedApi.active">
  <div>
    <h4>API</h4>
    <p>
      some Info
    </p>
  </div>
  <div ng-show = "dabCtrl.selectedVersion.length != 0 && dabCtrl.selectedVersion.active">
    <h4>Version</h4>
    <p>
      some Info
    </p>
  </div>
  <div ng-show = "dabCtrl.selectedFile.length != 0 && dabCtrl.selectedFile">
    <h4>File</h4>
    <p>
      some Info
    </p>
    <h5>Reports</h5>
    <div ng-if = "dabCtrl.selectedFile.report.length == 0">
      <a class="list-group-item">
        <div class = "row">
          <div class = "col">
            <img src="./img/file2.svg" class="img-fluid" alt="Responsive image">
            no Reports ...
          </div>
        </div>
      </a>
    </div>
    <div class="list-group">
      <div ng-repeat = "report in dabCtrl.selectedFile.report">
        <a href="#" class="list-group-item list-group-item-action" ng-class="{'active': dabCtrl.selectedReport == report}" ng-click = "dabCtrl.select(api, version, file, report)">
          <div class = "row">
            <div class = "col">
              <img src="./img/file2.svg" class="img-fluid" alt="Responsive image">
              {{report.name}}
            </div>
            <div class = "col-auto">
              <button type="button" class="btn btn-light">
                <img src="./img/open.svg" class="img-fluid" alt="Responsive image">
              </button>
              <button type="button" class="btn btn-light">
                <img src="./img/delete.svg" class="img-fluid" alt="Responsive image">
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
